aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anthropic
anyio
asgiref
async-timeout
attrs
blinker
certifi
charset-normalizer
cryptography
dataclasses
dbus-python
distro
distro-info
Django
djangorestframework
djongo
dnspython
drf-yasg
emacs
exceptiongroup
filelock
frozenlist
fsspec
gyp
h11
httpcore
httplib2
httpx
huggingface-hub
idna
importlib-metadata
inflection
jeepney
jiter
keyring
launchpadlib
lazr.restfulclient
lazr.uri
markdown-it-py
mdurl
more-itertools
multidict
netifaces
oauthlib
packaging
pillow
prompt_toolkit
pycairo
pydantic
pydantic_core
Pygments
PyGObject
PyJWT
pymongo
pyparsing
python-apt
python-dotenv
pytz
PyYAML
regex
requests
rich
SecretStorage
six
sniffio
sqlparse
systemd-python
tavily-python
tiktoken
tokenizers
tqdm
typing_extensions
ubuntu-advantage-tools
ufw
unattended-upgrades
uritemplate
urllib3
wadllib
wcwidth
yarl
zipp
